[Unit]
Description=Mount partition with user data

[Mount]
What=/dev/mmcblk0p4
Where=/mnt/userdata/
Type=ext4
Options=defaults

[Install]
WantedBy=multi-user.target

